<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrangeCloudClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClassLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrangeCloudClient.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://home.fransham.ca:8000</value>
            </setting>
        </OrangeCloudClient.Properties.Settings>
        <ClassLibrary1.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://home.fransham.ca:8000/files</value>
            </setting>
        </ClassLibrary1.Properties.Settings>
    </userSettings>
</configuration>